*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.Footer{
    width: 100%;
    height: 340px;
}
.Footer-center{
    width: 1440px;
    height: 100%;
    margin: auto;
    background-color: #1d2338;
    display: flex;
    padding-top: 30px;
}

.Footer-center-column-1{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    color: #ffb901;
    
}

.Footer-center-column-1 p{
    font-weight: bold;
}
.Footer-center h1{
    font-size: 23px;
    padding-bottom: 30px;
    
}

.Footer-center h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}
.Footer-center h3{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 6px;
}
.Footer-center p{
    font-size: 18px;
    margin-bottom: 25px;
}
.Footer-center-column-2, .Footer-center-column-3{
    width: 25%;
    height: 100%;
    color:#E8E8E8;
    padding-left: 15px;

}
.column-3-top p{
    margin-bottom: 25px;
    margin-top: 12px;
}
.Footer-center-column-4{
    width: 20%;
    height: 100%;
    color: #E8E8E8;
    text-align: center;  
}
.image img{
    width: 40px;
    height: 40px;
}


.icon{
    display: flex;
}
.icon img{
    width: 25px;
    height: 25px;
    padding-right: 15px;
}

.column-3-top img{
    width: 25px;
    height: 25px;
    padding-right: 15px;
    margin-top: 11px;
}

.column-3-bottom img{
    width: 25px;
    height: 25px;
    padding-right: 15px;
    margin-top: 14px;
}

.column-3-bottom p{
    padding-top: 18px;
}